# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Environment Variables
.env

# Django
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
logs/

# OS
.DS_Store
Thumbs.db

node_modules